* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;

  background-image: linear-gradient(
    to right top,
    #e574b4,
    #d377c2,
    #be7bcd,
    #a580d5,
    #8984da,
    #6e90e5,
    #4c9cec,
    #0da6ef,
    #00bbf6,
    #00cff6,
    #00e1f0,
    #43f2e7
  );
  height: 100vh;
}
.center {
  z-index: 4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  backdrop-filter: blur(3rem);
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.837) 10%,
    rgba(255, 255, 255, 0.076) 100%
  );
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  border: 1px solid
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.837) 10%,
      rgba(255, 255, 255, 0.076) 100%
    );
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.center h1 {
  color: #0d0a0b;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
  text-align: center;
  margin: 2rem;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #0d0a0b67;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #0d0a0b67;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #0d0a0b9a;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
input[type="submit"] {
  width: 100%;
  height: 50px;
  border: none;
  background: #2691d9;
  border-radius: 2rem;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
input[type="submit"]:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}

.circle1,
.circle2 {
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.823) 10%,
    rgba(255, 255, 255, 0.164) 100%
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 22%;
  right: 35%;
  backdrop-filter: blur(2rem);
}

.circle2 {
  bottom: 22%;
  left: 35%;
  backdrop-filter: blur(2rem);
}
