* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #0d0a0b;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}

h2,
p {
  color: #0d0a0b;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: rgba(0, 0, 0, 0.748);
  font-weight: 600;
  opacity: 0.8;
}

body {
  background-image: linear-gradient(
    to right top,
    #e574b4,
    #d377c2,
    #be7bcd,
    #a580d5,
    #8984da,
    #6e90e5,
    #4c9cec,
    #0da6ef,
    #00bbf6,
    #00cff6,
    #00e1f0,
    #43f2e7
  );
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  min-height: 80vh;
  width: 60%;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.837) 10%,
    rgba(255, 255, 255, 0.076) 100%
  );
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  border: 1rem;
  z-index: 3;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.circle1,
.circle2 {
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.823) 10%,
    rgba(255, 255, 255, 0.164) 100%
  );
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
  backdrop-filter: blur(2rem);
}

.circle2 {
  bottom: 5%;
  left: 10%;
  backdrop-filter: blur(2rem);
}

.dashboard {
  border-radius: 2rem;
  background-image: linear-gradient(
    135deg,
    rgb(255, 255, 255) 10%,
    rgba(255, 255, 255, 0.029) 100%
  );
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  border-radius: 2rem;
  z-index: 4;
}

.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}

.link h2 {
  padding: 0rem 2rem;
}
.games {
  flex: 2;
}

.pro {
  background-image: linear-gradient(
    to right top,
    #030f33,
    #140928,
    #19041d,
    #170114,
    #12000a,
    #100008,
    #0e0006,
    #0b0004,
    #110009,
    #14000f,
    #160115,
    #17021a
  );
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  align-items: center;
}

.pro h2 {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: 600;
}

/* Books */

.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.659),
    rgba(255, 255, 255, 0.1)
  );
  width: 50%;
  padding: 0.5rem;
  border-radius: 2rem;
  border-width: 1px;
  border: white;
}

.games {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.1);
  justify-content: space-between;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #000000, #0d0a0b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
