* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
}
h1,
h2,
h3,
h4 {
  color: rgba(255, 255, 255, 0.768);
  font-weight: 200;
}

.circle1 {
  position: absolute;
  display: block;
  border-radius: 50%;
  height: 40rem;
  width: 50rem;
  background: linear-gradient(
    180deg,
    rgba(0, 195, 255, 0.563) 0%,
    #ff29c3 100%
  );
  opacity: 0.7;
  filter: blur(8.1rem);
  transform: rotate(-17.38deg);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-filter: blur(8.1rem);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  
}


.panel {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    106.51deg,
    rgba(114, 114, 114, 0.05) 3.44%,
    rgba(99, 99, 99, 0.02) 64.82%
  );
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  height: fit-content;
  width: fit-content;
  border: 0.15rem solid;
  border-color: rgba(155, 155, 155, 0.172);
}

.nav-bar {
  display: flex;
  justify-content: left;
  padding: 2rem;
  z-index: 3;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.912);
  font-size: 1rem;
  font-weight: 100;
}
.ew a {
  font-size: 2rem;
  padding-left: 5rem;
  font-weight: 800;
}
.home a {
  padding-left: 22rem;
  text-decoration: underline rgba(255, 255, 255, 0.172);
  text-underline-offset: 0.3rem;
}
.projects a {
  padding-left: 5rem;
}

.github a {
  padding-left: 5rem;
}



.image-box {
  padding: 2rem;
}
.inner-box {
  display: flex;

  justify-content: space-evenly;
}
.text-box h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 2.7rem;
  padding-left: 5rem;
  padding-top: 2rem;
}
.para {
  padding-top: 1.5rem;
  padding-left: 5rem;
}
.btn-org {
  border: 0;
  margin: 1.5rem 5rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0.3rem;
  background-color: #f2672e;
  z-index: 6;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  display: flex;
  justify-content: space-around;
}
.arrow {
  padding-left: 3rem;
}
.blue-img,
.orange-cube,
.orange-img,
.pink-img,
.white-img {
  position: absolute;
}

.blue-img {
  top: 65%;
  left: 10%;
  z-index: 3;
}
.white-img {
  top: 10%;
  right: 20%;
  z-index: 1;
}
.pink-img {
  top: 35%;
  left: 63%;
  z-index: 6;
}
.orange-cube {
  top: 80%;
  left: 55%;
  z-index: 6;
}
.orange-img {
  top: 63%;
  right: 1%;
}
.h1-des {
  font-weight: bold;
  background: linear-gradient(to left, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.h1-dev {
  font-weight: bold;
  background: linear-gradient(to right, rgb(169, 4, 169), rgb(255, 135, 215));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.orange-img{
  animation: myAnimation 3s ease-in-out 0.1s infinite alternate running;
  
}

.image-box, .white-img, .pink-img{
  animation: pulse 3s ease-in-out .1s  infinite alternate running;
}



@keyframes  myAnimation {
    from {top: 35rem;}
    to {top: 40rem;}
}



 @keyframes pulse {
  0% {  transform: scale3d(1, 1, 1);  }
  50% {  transform: scale3d(1.05, 1.05, 1.05);}
  100% {  transform: scale3d(1, 1, 1); }
 } 
